<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for("static", filename="style.css")}}" />
  <title>Flask Demo</title>
</head>
<body>
  <h1>Flask Demo</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi tempora necessitatibus perspiciatis veniam fugit sunt explicabo aperiam exercitationem quisquam a incidunt, harum accusamus recusandae natus assumenda reprehenderit mollitia sint vitae nulla quam soluta eaque! Quisquam doloribus soluta id excepturi cumque.</p>
</body>
</html>